= stylesheet_link_tag 'sites/advogado/pages/page_clients'
.container
  .breadcrumbs.margin-bottom-40
    .container
      %h1.pull-left
        = editable_content "title" do
          Serviços
      %ul.pull-right.breadcrumb
        %li
          = link_to 'Home', '?p=index'
        %li
          = link_to 'Serviços', '?p=servicos'
  = editable_content "content", class: 'row' do
    .col-md-9
      .headline
        %h2 Áreas atendidas
      .clients-page.margin-bottom-20
        = image_tag 'sites/advogado/servicos/area_1.jpg', :alt => ""
        %h4.beige Direito Trabalhista
        %p
          At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque dolorum fuga. Et harum quidem rerum facilis est etenim a feugiat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Integer sed arcu.
          %a.linked.color-green{:href => "#"} htttp://www.example.com
      .clients-page.margin-bottom-20
        = image_tag 'sites/advogado/servicos/area_2.jpg', :alt => ""
        %h4.beige Direito Penal
        %p
          At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque dolorum fuga. Et harum quidem rerum facilis est etenim a feugiat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Integer sed arcu.
          %a.linked.color-green{:href => "#"} htttp://www.example.com
      .clients-page.margin-bottom-20
        = image_tag 'sites/advogado/servicos/area_3.jpg', :alt => ""
        %h4.beige Direito Tributário
        %p
          At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque dolorum fuga. Et harum quidem rerum facilis est etenim a feugiat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Integer sed arcu.
          %a.linked.color-green{:href => "#"} htttp://www.example.com
    / /col-md-9
    .col-md-3
      / Our Services
      .who.margin-bottom-30
        .headline
          %h2 Serviços
        %p At vero eos et accusamus et iusto odio dign issimos ducimus qui blanditiis iusto.
        %ul.list-unstyled
          %li
            %a{:href => "#"}
              %i.icon-desktop>
              Vivamus imperdiet condimentum
          %li
            %a{:href => "#"}
              %i.icon-bullhorn>
              Anim pariatur cliche squid
          %li
            %a{:href => "#"}
              %i.icon-globe>
              Eget placerat felis consectetur
          %li
            %a{:href => "#"}
              %i.icon-group>
              Condimentum diam eget placerat
      %p.margin-bottom-30
        At vero eos et acc usamus et iusto odio dign issimos ducimus atque corrupti quos dolores etrerum facilis est etenim a feugiat cupiditate non quos.
        %a.read-more{:href => "#"} Read more
    / /col-md-3
  / /row
  / Our Clients
  #clients-flexslider.flexslider.home.clients
    = editable_content "clients_title", class: 'headline' do
      %h2 Clientes
    %ul.slides
      %li
        = editable_content "clients_1" do
          %a{:href => "#"}
            = image_tag 'sites/advogado/clients/hp.png', :alt => ""
      %li
        = editable_content "clients_2" do
          %a{:href => "#"}
            = image_tag 'sites/advogado/clients/igneus.png', :alt => ""
      %li
        = editable_content "clients_3" do
          %a{:href => "#"}
            = image_tag 'sites/advogado/clients/vadafone.png', :alt => ""
      %li
        = editable_content "clients_4" do
          %a{:href => "#"}
            = image_tag 'sites/advogado/clients/walmart.png', :alt => ""
      %li
        = editable_content "clients_5" do
          %a{:href => "#"}
            = image_tag 'sites/advogado/clients/shell.png', :alt => ""
      %li
        = editable_content "clients_6" do
          %a{:href => "#"}
            = image_tag 'sites/advogado/clients/natural.png', :alt => ""
      %li
        = editable_content "clients_7" do
          %a{:href => "#"}
            = image_tag 'sites/advogado/clients/aztec.png', :alt => ""
      %li
        = editable_content "clients_8" do
          %a{:href => "#"}
            = image_tag 'sites/advogado/clients/gamescast.png', :alt => ""
      %li
        = editable_content "clients_9" do
          %a{:href => "#"}
            = image_tag 'sites/advogado/clients/cisco.png', :alt => ""
      %li
        = editable_content "clients_10" do
          %a{:href => "#"}
            = image_tag 'sites/advogado/clients/everyday.png', :alt => ""
      %li
        = editable_content "clients_11" do
          %a{:href => "#"}
            = image_tag 'sites/advogado/clients/cocacola.png', :alt => ""
      %li
        = editable_content "clients_12" do
          %a{:href => "#"}
            = image_tag 'sites/advogado/clients/spinworkx.png', :alt => ""
      %li
        = editable_content "clients_13" do
          %a{:href => "#"}
            = image_tag 'sites/advogado/clients/shell.png', :alt => ""
      %li
        = editable_content "clients_14" do
          %a{:href => "#"}
            = image_tag 'sites/advogado/clients/natural.png', :alt => ""
      %li
        = editable_content "clients_15" do
          %a{:href => "#"}
            = image_tag 'sites/advogado/clients/gamescast.png', :alt => ""
      %li
        = editable_content "clients_16" do
          %a{:href => "#"}
            = image_tag 'sites/advogado/clients/everyday.png', :alt => ""
      %li
        = editable_content "clients_17"  do
          %a{:href => "#"}
            = image_tag 'sites/advogado/clients/spinworkx.png', :alt => ""
