.container
  / === Breadcrumbs ===
  .breadcrumbs.margin-bottom-30
    .container
      %h1.pull-left
        = editable_content "title" do
          Sobre nós
      %ul.pull-right.breadcrumb
        %li
          = link_to 'Home', '?p=index'
        %li
          = link_to 'Sobre nós', '?p=sobrenos'

    / /container
  / /breadcrumbs
  / === End Breadcrumbs ===
  .row
    .col-md-3{:style => "margin-top: 15px"}
      = editable_content "left", class: 'col-md-9' do
        = image_tag 'sites/advogado/sobrenos.jpg', :alt => "Sobre nós"
    / /col-md-3
    = editable_content "content", class: 'col-md-9' do
      .headline
        %h2 Advogados Associados
      .row.servive-block.servive-block-in.margin-bottom-20
        .col-md-4
          .servive-block-in.servive-block-colored.servive-block-beige
            %h4 Cooool Red Box
            %p
              %i.icon-bell
            %p Donec id elit non mi porta gravida at eget metus id elit mi egetine.
        .col-md-4
          .servive-block-in.servive-block-colored.servive-block-beige
            %h4 Amazing Green Box
            %p
              %i.icon-bullhorn
            %p Donec id elit non mi porta gravida at eget metus id elit mi egetine.
        .col-md-4
          .servive-block-in.servive-block-colored.servive-block-beige
            %h4 Woow Yellow Box
            %p
              %i.icon-lightbulb
            %p Donec id elit non mi porta gravida at eget metus id elit mi egetine.
      / /welcome-block
      / End Our Services
      / Blockquotes
      %p
        Unify is an
        %strong.color-green incredibly beautiful
        responsive Bootstrap Template for corporate and creative professionals. It works on all major web browsers. Award winning digital agency. We bring a personal and effective approach adipiscing elit approach to
        %strong.color-green every project
        we work on, which is why our clients love us and why they. Lorem sequat ipsum dolor lorem sit amet, consectetur adipiscing dolor elit.
      %p Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet, conse cteturse adipiscing elit magna consectetur and effective.
      %br/
      %blockquote.hero-unify.margin-bottom-40
        %p Award winning digital agency. We bring a personal and effective consectetur and effective approach adipiscing elit approach to every project we work on, which is why our clients love us and why they.
        %small CEO, Jack Baur
