.container
  = render "sites/#{@site.template.path}/breadcrumbs"
  = editable_content "content", class: 'row margin-bottom-30' do
    .col-md-6.md-margin-bottom-40
      %p Unify is an incredibly beautiful responsive Bootstrap Template for corporate and creative professionals. It works on all major web browsers, tablets and phone. Lorem sequat ipsum dolor lorem sit amet, consectetur adipiscing dolor elit. Unify is an incredibly beautiful responsive Bootstrap Template for It works on all major web.
      %ul.list-unstyled
        %li
          %i.icon-ok.color-green
          Donec id elit non mi porta gravida
        %li
          %i.icon-ok.color-green
          Corporate and Creative
        %li
          %i.icon-ok.color-green
          Responsive Bootstrap Template
        %li
          %i.icon-ok.color-green
          Elit non mi porta gravida
        %li
          %i.icon-ok.color-green
          Award winning digital agency
      %br/
      / Blockquotes
      %blockquote
        %p Award winning digital agency. We bring a personal and effective approach to every project we work on, which is why.
        %small CEO Jack Bour
    .col-md-6.md-margin-bottom-40
      .responsive-video
        = image_tag "sites/#{@site.template.path}/sobrenos.jpg", class: 'img-responsive', :alt => "Sobre nós"

  = editable_content "team" do
    .headline
      %h2 Nosso time
    .row.team
      .col-sm-3
        .thumbnail-style
          = image_tag "sites/#{@site.template.path}/team/1.jpg", class: 'img-responsive', :alt => ""
          %h3
            %a Jack Bour
            %small Chief Executive Officer
          %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...
          %ul.list-unstyled.list-inline.team-socail
            %li
              %a{:href => "#"}
                %i.icon-facebook
            %li
              %a{:href => "#"}
                %i.icon-twitter
            %li
              %a{:href => "#"}
                %i.icon-google-plus
      .col-sm-3
        .thumbnail-style
          = image_tag "sites/#{@site.template.path}/team/3.jpg", class: 'img-responsive', :alt => ""
          %h3
            %a Kate Metus
            %small Project Manager
          %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...
          %ul.list-unstyled.list-inline.team-socail
            %li
              %a{:href => "#"}
                %i.icon-facebook
            %li
              %a{:href => "#"}
                %i.icon-twitter
            %li
              %a{:href => "#"}
                %i.icon-google-plus
      .col-sm-3
        .thumbnail-style
          = image_tag "sites/#{@site.template.path}/team/2.jpg", class: 'img-responsive', :alt => ""
          %h3
            %a Porta Gravida
            %small VP of Operations
          %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...
          %ul.list-unstyled.list-inline.team-socail
            %li
              %a{:href => "#"}
                %i.icon-facebook
            %li
              %a{:href => "#"}
                %i.icon-twitter
            %li
              %a{:href => "#"}
                %i.icon-google-plus
      .col-sm-3
        .thumbnail-style
          = image_tag "sites/#{@site.template.path}/team/4.jpg", class: 'img-responsive', :alt => ""
          %h3
            %a Donec Elit
            %small Director, R &amp; D Talent
          %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...
          %ul.list-unstyled.list-inline.team-socail
            %li
              %a{:href => "#"}
                %i.icon-facebook
            %li
              %a{:href => "#"}
                %i.icon-twitter
            %li
              %a{:href => "#"}
                %i.icon-google-plus