.container
  .row.top25
    %h3.col-md-12.text-center Escoha um template de acordo com seu ramo de atuação.
    .col-md-7.col-md-offset-05
      %h3.col-md-11.blueBorderTitle.col-md-pull-055 Templates
  .row.top30
    .col-md-4
      = form_tag templates_path, method: :get, style: 'margin: 0' do
        .input-group.col-md-offset-1.col-md-10
          = text_field_tag 'search', params[:search], class: 'form-control noBorderRadius noBorder loginFormStyle', placeholder: "Buscar", :style => "height: 34px"
          %span.input-group-btn
            = submit_tag 'PESQUISAR', class: 'searchButton white', :style => "height: 34px"
      .col-md-11.col-md-offset-05.top25
        .redBorderTitle{:style => "margin-left: 3px"}
          %h4{:style => "margin-left: 20px"} POR CATEGORIA
        %ul.list-group.col-md-14
          %li.list-group-item
            = link_to 'Geral', templates_path
          - @template_categories.each do |template_category|
            %li.list-group-item
              = link_to template_category.name, templates_path(template_category_id: template_category.id)
    .col-md-7.col-sm-12
      - @templates.each do |template|
        .col-md-5.col-md-offset-1.clearfix
          .col-md-12.col-sm-6
            .caption.yellowBorder{:style => "margin-left: 3px;"}
              %h4{:style => "margin-left: 10px"}= template.name
            .thumbnail.noBorder
              = image_tag "sites/#{template.path}/preview.png", class: 'img-responsive', :alt => template, :height => "256", :width => "256"

            = link_to template, target: "_blank" do
              %h5.col-md-5.col-md-offset-0.col-sm-4.col-sm-offset-1.col-xs-4.col-xs-offset-1 Visualizar
            = button_to sites_path(site: { template_id: template.id }), class: 'col-md-6 col-md-offset-055 col-sm-4 col-xs-4 col-xs-push-05 conversionButton shadowBox twelve lineHeight25 bottom20' do
              EDITAR

      - if params[:show_all].blank? && @templates_count > 4
        .col-md-6.col-md-offset-5.top20
          %a{:href => "#", :target => "_self"}
          .btn-group.dropdown
            = link_to templates_path(show_all: true), class: 'btn btn-default btn-lg dropdown-toggle noBorderRadius' do
              Carregar mais
              %span.caret