.container
  = render 'top'
  .row
    .col-md-4
      = render 'left_menu'
    .col-md-8.col-sm-12
      .col-md-12.boxBordersTitle{:style => "margin-left: -5%; margin-bottom: 25px"}
        %h4 Sites publicados
      - Site.where('status = ?', :published).each do |site|
        .col-md-5.clearfix
          .col-md-12.col-sm-6
            .caption.yellowBorder{:style => "margin-left: 3px;"}
              %h4{:style => "margin-left: 10px"}= site
            .thumbnail.noBorder
              = image_tag "sites/#{site.template.path}/preview.png", class: 'img-responsive', :alt => site, :height => "256", :width => "256"
            = link_to site, :target => "_blank" do
              %h5.col-md-5.col-md-offset-0.col-sm-4.col-sm-offset-1.col-xs-4.col-xs-offset-1 Visualizar
            = link_to edit_site_path(site), :target => "_blank" do
              %button.col-md-6.col-md-offset-055.col-sm-4.col-xs-4.col-xs-push-05.conversionButton.shadowBox.twelve.lineHeight25.bottom20{:type => "button"}
                EDITAR
