.container
  .row
    .col-md-6.col-sm-11.col-sm-offset-1.col-xs-11.col-xs-offset-1
      = image_tag "imgHome.png", :class => "text-right img-responsive", :alt => "Pool Sites - construtor de sites", :height => "351", :width => "540"
    .col-md-5.top60.xs-top20
      = editable_content "register" do
        %h3.text-center.light
          Crie seu site
        %h3.text-center.top10
          GRATUITAMENTE
        %h3.text-center.top10
          de forma rápida e fácil.
      = button_to "COMECE AGORA", templates_path, method: :get, class: "top10 sm-bottom20 xs-bottom20 col-md-11 col-md-push-05 col-sm-12 col-xs-12 conversionButton shadowBox"
.fullContainer.brownBgColor
  .container
    .row.top35
      .col-md-2.col-sm-4.col-xs-6
        .thumbnail.brownBgColor
          = image_tag "facilPratico.jpg", :class => "img-responsive shadowBox", :alt => "...", :height => "135", :width => "135"
          = editable_content "content_1" do
            %h4.text-center Fácil e prático
            %h5.text-center
              Lorem ipsum dollor sit at lorem
      .col-md-2.col-md-offset-05.col-sm-4.col-xs-6
        .thumbnail.brownBgColor
          = image_tag "layoutsResponsivos.jpg", :class => "img-responsive shadowBox", :alt => "...", :height => "135", :width => "135"
          = editable_content "content_2" do
            %h4.text-center Layouts responsivos
            %h5.text-center
              Lorem ipsum dollor sit at lorem
      .col-md-2.col-md-offset-05.col-sm-4.col-xs-6
        .thumbnail.brownBgColor
          = image_tag "hospedagemIncluida.jpg", :class => "img-responsive shadowBox", :alt => "...", :height => "135", :width => "135"
          = editable_content "content_3" do
            %h4.text-center Hospedagem incluída
            %h5.text-center
              Lorem ipsum dollor sit at lorem
      .col-md-2.col-md-offset-05.col-sm-4.col-xs-6
        .thumbnail.brownBgColor
          = image_tag "tecnologiaModerna.jpg", :class => "img-responsive shadowBox", :alt => "...", :height => "135", :width => "135"
          = editable_content "content_4" do
            %h4.text-center Tecnologia moderna
            %h5.text-center
              Lorem ipsum dollor sit at lorem
      .col-md-2.col-md-offset-05.col-sm-4.col-xs-6
        .thumbnail.brownBgColor
          = image_tag "editeDoSeuJeito.jpg", :class => "img-responsive shadowBox", :alt => "...", :height => "135", :width => "135"
          = editable_content "content_5" do
            %h4.text-center Edite do seu jeito
            %h5.text-center
              Lorem ipsum dollor sit at lorem
.fullContainer.darkGrayBgColor
  .container
    .row.top5.bottom5
      .col-md-5.col-md-push-055
        = simple_form_for(@newsletter, url: newsletters_path, html: { style: 'margin: 0' }) do |f|
          .input-group
            = f.error_notification
            = f.text_field :email, placeholder: 'Cadastre seu email e receba nossas novidades', class: 'form-control noBorder twelve noBorderRadius', :style => "height: 34px"
            %span.input-group-btn
              = f.submit 'ENVIAR', class: 'subscriberButton white', :style => "height: 34px"
      .col-md-4.col-md-offset-2.top3
        = editable_content "social_links" do
          .col-md-1.col-md-offset-3.col-sm-1.col-xs-1
            .darkGrayBgColor
              = link_to "#", :target => "_blank" do
                = image_tag "facebook.jpg", :class => "img-responsive", :alt => "Facebook", :height => "30", :width => "30"
          .col-md-1.col-md-offset-055.col-sm-1.col-sm-offset-1.col-xs-1.col-xs-offset-1
            .darkGrayBgColor
              = link_to "#", :target => "_blank" do
                = image_tag "googlePlus.jpg", :class => "img-responsive", :alt => "Google Plus", :height => "30", :width => "30"
          .col-md-1.col-md-offset-055.col-sm-1.col-sm-offset-1.col-xs-1.col-xs-offset-1
            .darkGrayBgColor
              = link_to "#", :target => "_blank" do
                = image_tag "linkedin.jpg", :class => "img-responsive", :alt => "Linkedin", :height => "30", :width => "29"
          .col-md-1.col-md-offset-055.col-sm-1.col-sm-offset-1.col-xs-1.col-xs-offset-1
            .darkGrayBgColor
              = link_to "#", :target => "_blank" do
                = image_tag "pinterest.jpg", :class => "img-responsive", :alt => "Pinterest", :height => "30", :width => "29"
          .col-md-1.col-md-offset-055.col-sm-1.col-sm-offset-1.col-xs-1.col-xs-offset-1
            .darkGrayBgColor
              = link_to "#", :target => "_blank" do
                = image_tag "rss.jpg", :class => "img-responsive", :alt => "RSS", :height => "30", :width => "29"
          .col-md-1.col-md-offset-055.col-sm-1.col-sm-offset-1.col-xs-1.col-xs-offset-1
            .darkGrayBgColor
              = link_to "#", :target => "_blank" do
                = image_tag "twitter.jpg", :class => "img-responsive", :alt => "Twitter", :height => "30", :width => "29"
