!!!
/[if IE 8]
  <html lang="pt-br" class="ie8">
/[if IE 9]
  <html lang="pt-br" class="ie9">
/ [if !IE]><!
%html{:lang => "pt-br"}
  / <![endif]
  %head
    %title= @site
    / Meta
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    
    = favicon_link_tag 'favicon.ico'
    
    / CSS Global Compulsory
    = stylesheet_link_tag "sites/#{@site.template.path}/bootstrap/css/bootstrap.min.css"
    = stylesheet_link_tag "sites/#{@site.template.path}/style.css"
    = stylesheet_link_tag "sites/#{@site.template.path}/headers/header2.css"
    = stylesheet_link_tag "sites/#{@site.template.path}/bootstrap/css/bootstrap-responsive.min.html"
    = stylesheet_link_tag "sites/#{@site.template.path}/responsive.css"
    
    / CSS Implementing Plugins
    = stylesheet_link_tag "sites/#{@site.template.path}/font-awesome/css/font-awesome.css"
    = stylesheet_link_tag "sites/#{@site.template.path}/flexslider/flexslider.css"
    = stylesheet_link_tag "sites/#{@site.template.path}/bxslider/jquery.bxslider.css"
    = stylesheet_link_tag "sites/#{@site.template.path}/revolution_slider/rs-plugin/css/settings.css", :media => "screen"
    
    / CSS Page Style
    = stylesheet_link_tag "sites/#{@site.template.path}/pages/page_one.css"
    / CSS Theme
    = stylesheet_link_tag "sites/#{@site.template.path}/themes/red.css", :id => "style_color"
    = stylesheet_link_tag "sites/#{@site.template.path}/themes/headers/header1-red.css", :id => "style_color-header-1"
    = stylesheet_link_tag "sites/#{@site.template.path}/themes/headers/header2-red.css", :id => "style_color-header-2"

  %body
    = render "editor/header"
    .top-v1
      .container
    .header.margin-bottom-10
      .navbar.navbar-default{:role => "navigation"}
        .container
          .navbar-header
            %button.navbar-toggle{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse", :type => "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a.navbar-brand{:href => "?p=index", :style => "margin: 5px 0 0 -15px"}
              = editable_content "logo", page: "all" do
                = image_tag "sites/#{@site.template.path}/logo.png", id: "logo-header", :alt => @site
          .collapse.navbar-collapse.navbar-responsive-collapse{:style => "margin-top: 35px"}
            %ul.nav.navbar-nav.navbar-right{:style => "margin: 25px -15px 0 0"}
              %li.dropdown.active
                %a{:href => "?p=index"}
                  = editable_content "menu_home", page: "all" do
                    Home
              %li.dropdown
                %a{:href => "#sobrenos"}
                  = editable_content "menu_sobrenos", page: "all" do
                    Sobre nós
              %li.dropdown
                %a{:href => "#servicos"}
                  = editable_content "menu_servicos", page: "all" do
                    Serviços
              %li.dropdown
                %a{:href => "#faleconosco"}
                  = editable_content "menu_faleconosco", page: "all" do
                    Contatos
    .container
      = render "util/alert_messages"
    = yield
    .copyright
      .container
        .row
          = editable_content "copy", page: "all", class: "col-md-6" do
            %p.copyright-space
              2014 &copy; #{@site}. Todos os direitos reservados.

    = javascript_include_tag "sites/#{@site.template.path}/jquery-1.10.2.min.js"
    = javascript_include_tag "sites/#{@site.template.path}/jquery-migrate-1.2.1.min.js"
    = javascript_include_tag "sites/#{@site.template.path}/bootstrap/js/bootstrap.min.js"
    = javascript_include_tag "sites/#{@site.template.path}/hover-dropdown.min.js"
    = javascript_include_tag "sites/#{@site.template.path}/back-to-top.js"
    / JS Implementing Plugins
    = javascript_include_tag "sites/#{@site.template.path}/flexslider/jquery.flexslider-min.js"
    = javascript_include_tag "sites/#{@site.template.path}/bxslider/jquery.bxslider.js"
    = javascript_include_tag "sites/#{@site.template.path}/revolution_slider/rs-plugin/js/jquery.themepunch.revolution.min.js"
    / JS Page Level
    = javascript_include_tag "sites/#{@site.template.path}/app.js"
    = javascript_include_tag "sites/#{@site.template.path}/pages/index.js"

    = render "editor/footer"

    :javascript
      jQuery(document).ready(function () {
          App.init();
          App.initSliders();
          App.initBxSlider();
      });
    /[if lt IE 9]
      <script src="assets/plugins/respond.js"></script>
