!!!
/[if IE 8]
  <html lang="pt-br" class="ie8">
/[if IE 9]
  <html lang="pt-br" class="ie9">
/ [if !IE]><!
%html{:lang => "pt-br"}
  / <![endif]
  %head
    %title= @site
    / Meta
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    
    = favicon_link_tag 'favicon.ico'
    
    / CSS Global Compulsory
    = stylesheet_link_tag "sites/#{@site.template.path}/bootstrap/css/bootstrap.min.css"
    = stylesheet_link_tag "sites/#{@site.template.path}/style.css"
    = stylesheet_link_tag "sites/#{@site.template.path}/headers/header2.css"
    = stylesheet_link_tag "sites/#{@site.template.path}/responsive.css"

    / CSS Implementing Plugins
    = stylesheet_link_tag "sites/#{@site.template.path}/font-awesome/css/font-awesome.css"
    = stylesheet_link_tag "sites/#{@site.template.path}/flexslider/flexslider.css"
    = stylesheet_link_tag "sites/#{@site.template.path}/bxslider/jquery.bxslider.css"
    = stylesheet_link_tag "sites/#{@site.template.path}/revolution_slider/rs-plugin/css/settings.css", :media => "screen"


    / CSS Page Style
    / CSS Theme
    = stylesheet_link_tag "sites/#{@site.template.path}/themes/orange.css", :id => "style_color"
    = stylesheet_link_tag "sites/#{@site.template.path}/themes/headers/header1-orange.css", :id => "style_color-header-1"
    = stylesheet_link_tag "sites/#{@site.template.path}/themes/headers/header2-orange.css", :id => "style_color-header-2"
  %body
    = render 'editor/header'
    .top-v1
      .container
    .header.margin-bottom-10
      .navbar.navbar-default{:role => "navigation"}
        .container
          / Brand and toggle get grouped for better mobile display
          .navbar-header
            %button.navbar-toggle{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse", :type => "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a.navbar-brand{:href => "?p=index", :style => "margin: 15px 0 0 -15px"}
              = editable_content "logo", page: 'all' do
                = image_tag "sites/#{@site.template.path}/logo.png", id: 'logo-header', :alt => @site
          .collapse.navbar-collapse.navbar-responsive-collapse{:style => "margin-top: 56px"}
            %ul.nav.navbar-nav.navbar-right{:style => "margin: 10px -15px 0 0"}
              - @site.template.pages.split(',').each do |page|
                %li.dropdown{ class: page == @page ? 'active' : '' }
                  %a{:href => "?p=#{page}"}
                    = editable_content "menu_#{page}", page: 'all' do
                      = t("pages.#{page}")
    .container
      = render 'util/alert_messages'
    = yield
    .copyright
      .container
        .row
          = editable_content "copy", page: 'all', class: 'col-md-6' do
            %p.copyright-space
              2014 &copy; #{@site}. Todos os direitos reservados.

    = javascript_include_tag "sites/#{@site.template.path}/jquery-1.10.2.min.js"
    = javascript_include_tag "sites/#{@site.template.path}/jquery-migrate-1.2.1.min.js"
    = javascript_include_tag "sites/#{@site.template.path}/bootstrap/js/bootstrap.min.js"
    = javascript_include_tag "sites/#{@site.template.path}/hover-dropdown.min.js"
    = javascript_include_tag "sites/#{@site.template.path}/back-to-top.js"
    / JS Implementing Plugins
    = javascript_include_tag "sites/#{@site.template.path}/flexslider/jquery.flexslider-min.js"
    = javascript_include_tag "sites/#{@site.template.path}/bxslider/jquery.bxslider.js"
    = javascript_include_tag "sites/#{@site.template.path}/revolution_slider/rs-plugin/js/jquery.themepunch.revolution.min.js"
    / JS Page Level
    = javascript_include_tag "sites/#{@site.template.path}/app.js"
    = javascript_include_tag "sites/#{@site.template.path}/pages/index.js"

    = render "editor/footer"

    :javascript
      jQuery(document).ready(function () {
          App.init();
          App.initSliders();
          App.initBxSlider();
      });
    /[if lt IE 9]
      <script src="assets/plugins/respond.js"></script>

    - if @page == 'contatos'
      = javascript_include_tag "sites/#{@site.template.path}/pages/contact.js"
      :javascript
        jQuery(document).ready(function () {
            Contact.initMap();
        });
