= render 'about/header'
.container
  .row.top30
    .col-md-12.col-md-offset-05.bottom20
      %h3.col-md-11.blueBorderTitle.col-md-pull-055 Mentores
    .col-sm-6.col-md-3.col-md-offset-05
      .thumbnail.noBorder
        = image_tag "mentores.jpg", :alt => "Mentores", :height => "207", :width => "257"
        %h4.mediumGreen Margarida
        %h5 Lorem ipsum dollor sit at lorem Lorem ipsum dollor sit at lorem
      .col-md-pull-05.col-sm-1.col-xs-1
        = link_to "#", target: "_blank" do
          = image_tag "facebook.jpg", :alt => "Facebook", :height => "30", :class => "img-responsive", :width => "30"
      .col-md-pull-055.col-sm-1.col-xs-1
        = link_to "#", target: "_blank" do
          = image_tag "facebook.jpg", :alt => "Google Plus", :height => "30", :class => "img-responsive", :width => "30"
      .col-md-push-0.col-sm-1.col-xs-1
        = link_to "#", target: "_blank" do
          = image_tag "facebook.jpg", :alt => "Twitter", :height => "30", :class => "img-responsive", :width => "30"
    .col-sm-6.col-md-3.col-md-offset-1
      .thumbnail.noBorder
        = image_tag "mentores.jpg", :alt => "Mentores", :height => "207", :width => "257"
        %h4.mediumGreen Margarida
        %h5 Lorem ipsum dollor sit at lorem Lorem ipsum dollor sit at lorem
      .col-md-pull-05.col-sm-1.col-xs-1
        = link_to "#", target: "_blank" do
          = image_tag "facebook.jpg", :alt => "Facebook", :height => "30", :class => "img-responsive", :width => "30"
      .col-md-pull-055.col-sm-1.col-xs-1
        = link_to "#", target: "_blank" do
          = image_tag "facebook.jpg", :alt => "Google Plus", :height => "30", :class => "img-responsive", :width => "30"
      .col-md-push-0.col-sm-1.col-xs-1
        = link_to "#", target: "_blank" do
          = image_tag "facebook.jpg", :alt => "Twitter", :height => "30", :class => "img-responsive", :width => "30"
    .col-sm-6.col-md-3.col-md-offset-1
      .thumbnail.noBorder
        = image_tag "mentores.jpg", :alt => "Mentores", :height => "207", :width => "257"
        %h4.mediumGreen Margarida
        %h5 Lorem ipsum dollor sit at lorem Lorem ipsum dollor sit at lorem
      .col-md-pull-05.col-sm-1.col-xs-1
        = link_to "#", target: "_blank" do
          = image_tag "facebook.jpg", :alt => "Facebook", :height => "30", :class => "img-responsive", :width => "30"
      .col-md-pull-055.col-sm-1.col-xs-1
        = link_to "#", target: "_blank" do
          = image_tag "facebook.jpg", :alt => "Google Plus", :height => "30", :class => "img-responsive", :width => "30"
      .col-md-push-0.col-sm-1.col-xs-1
        = link_to "#", target: "_blank" do
          = image_tag "facebook.jpg", :alt => "Twitter", :height => "30", :class => "img-responsive", :width => "30"
.row.top60
= render 'about/footer'