.container
  .row.top30
    %h3.col-md-12.text-center
      = editable_content "title" do
        Gostaria de uma oportunidade de negócio?

  = editable_content "content" do
    .row
      .col-md-4.top30.col-sm-4.col-xs-8
        %h5.lineHeight20
          = image_tag "oportunidade.jpg", :alt => "...", :height => "254", :class => "img-responsive", :width => "330"
      .col-md-8.top30
        %h5.lineHeight20
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          %br/
          %br/
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        = button_to "COMECE AGORA", templates_path, method: :get, class: "col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-8 col-xs-offset-2 conversionButton shadowBox twenty lineHeight40 top20 bottom20"

    .row.top30
      .col-md-8.top30
        %h5.lineHeight20
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          %br/
          %br/
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        = button_to "COMECE AGORA", templates_path, method: :get, class: "col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-8 col-xs-offset-2 conversionButton shadowBox twenty lineHeight40 top20 bottom20"
      .col-md-4.top30.col-sm-4.col-xs-8
        %h5.lineHeight20
          = image_tag "oportunidade.jpg", :alt => "...", :height => "254", :class => "img-responsive", :width => "330"


= render 'util/social_links'