.container
  = render "sites/#{@site.template.path}/breadcrumbs"
  = editable_content "content" do
    .row.service-v1.margin-bottom-40
      .col-md-4
        %a{:href => "#"}
          = image_tag "sites/#{@site.template.path}/main/imoveis_1.jpg", class: "img-responsive"
        %h2 Residencial Eldorado
        %p
          Diccusamus et iusto
          %strong.color-green odio dignissimos aucimus
          nditiis praesentium
          voluptatum deleniti atque corrupti quos dolores vero eosetaet quas molestias excepturi sint
          occaecati
          cupiditate non provident, similique animi..
          %ul.list-unstyled
            %li
              %i.glyphicon.glyphicon-earphone
              (00) 0000-0000
            %li
              %i.glyphicon.glyphicon-envelope
              contato@contato.com.br
      .col-md-4
        %a{:href => "#"}
          = image_tag "sites/#{@site.template.path}/main/imoveis_2.jpg", class: "img-responsive"
        %h2 Condomínio Atlântico
        %p
          Diccusamus et iusto
          %strong.color-green odio dignissimos aucimus
          nditiis praesentium
          voluptatum deleniti atque corrupti quos dolores vero eosetaet quas molestias excepturi sint
          occaecati
          cupiditate non provident, similique animi..
          %ul.list-unstyled
            %li
              %i.glyphicon.glyphicon-earphone
              (00) 0000-0000
            %li
              %i.glyphicon.glyphicon-envelope
              contato@contato.com.br
      .col-md-4
        %a{:href => "#"}
          = image_tag "sites/#{@site.template.path}/main/imoveis_3.jpg", class: "img-responsive"
        %h2 Mansão em bairro nobre
        %p
          Diccusamus et iusto
          %strong.color-green odio dignissimos aucimus
          nditiis praesentium
          voluptatum deleniti atque corrupti quos dolores vero eosetaet quas molestias excepturi sint
          occaecati
          cupiditate non provident, similique animi..
          %ul.list-unstyled
            %li
              %i.glyphicon.glyphicon-earphone
              (00) 0000-0000
            %li
              %i.glyphicon.glyphicon-envelope
              contato@contato.com.br
    .row.service-v1.margin-bottom-40
      .col-md-4
        %a{:href => "#"}
          = image_tag "sites/#{@site.template.path}/main/imoveis_4.jpg", class: "img-responsive"
        %h2 Residencial Eldorado
        %p
          Diccusamus et iusto
          %strong.color-green odio dignissimos aucimus
          nditiis praesentium
          voluptatum deleniti atque corrupti quos dolores vero eosetaet quas molestias excepturi sint
          occaecati
          cupiditate non provident, similique animi..
          %ul.list-unstyled
            %li
              %i.glyphicon.glyphicon-earphone
              (00) 0000-0000
            %li
              %i.glyphicon.glyphicon-envelope
              contato@contato.com.br
      .col-md-4
        %a{:href => "#"}
          = image_tag "sites/#{@site.template.path}/main/imoveis_5.jpg", class: "img-responsive"
        %h2 Condomínio Atlântico
        %p
          Diccusamus et iusto
          %strong.color-green odio dignissimos aucimus
          nditiis praesentium
          voluptatum deleniti atque corrupti quos dolores vero eosetaet quas molestias excepturi sint
          occaecati
          cupiditate non provident, similique animi..
          %ul.list-unstyled
            %li
              %i.glyphicon.glyphicon-earphone
              (00) 0000-0000
            %li
              %i.glyphicon.glyphicon-envelope
              contato@contato.com.br
      .col-md-4
        %a{:href => "#"}
          = image_tag "sites/#{@site.template.path}/main/imoveis_6.jpg", class: "img-responsive"
        %h2 Mansão em bairro nobre
        %p
          Diccusamus et iusto
          %strong.color-green odio dignissimos aucimus
          nditiis praesentium
          voluptatum deleniti atque corrupti quos dolores vero eosetaet quas molestias excepturi sint
          occaecati
          cupiditate non provident, similique animi..
          %ul.list-unstyled
            %li
              %i.glyphicon.glyphicon-earphone
              (00) 0000-0000
            %li
              %i.glyphicon.glyphicon-envelope
              contato@contato.com.br
