.fullContainer.yellowBgColor
  .container
    .row
      .col-md-6
        = image_tag "guindaste.png", :alt => "Pool Sites - construtor de sites", :height => "208", :class => "text-right img-responsive", :width => "420"
      .col-md-5
        %h3.text-center.top40
          O seu negócio ONLINE
        %h3.text-center.top10
          de maneira FÁCIL
        .col-md-4.col-md-offset-4.col-sm-2.col-sm-offset-5.col-xs-6.col-xs-offset-4
          = image_tag "logo.png", :alt => "logo construtor de sites - Pool Sites", :height => "62", :class => "img-responsive", :width => "149"

.fullContainer.darkGrayBgColor
  .container
    .row
      .col-md-9.top5.bottom5
        .col-md-3.col-md-pull-055
          = link_to about_index_path, class: "white" do
            %h5.text-center Sobre o construtor de sites
        .col-md-3.col-md-offset-055
          = link_to mentors_path, class: "white" do
            %h5.text-center.yellowBorder Mentores
        .col-md-3.col-md-pull-05
          = link_to media_path, class: "white" do
            %h5.text-center.yellowBorder Saiu na mídia
