.fullContainer
  %iframe{:frameborder => "0", :height => "210", :src => "https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3821.2237129156642!2d-49.262526349999995!3d-16.715685849999996!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935ef0e052a6041b%3A0x2b76c362b8433201!2sPontoGet+Coworking!5e0!3m2!1spt-BR!2sbr!4v1391129871900", :style => "border:0", :width => "100%"}
.container
  .row.top30
    .col-md-7.col-md-offset-05
      %h3.col-md-11.blueBorderTitle.col-md-pull-055
        = editable_content "title" do
          Fale conosco
    .col-md-8.top30
      %h5.col-md-offset-05.lineHeight20
        = editable_content "content" do
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor.
      = simple_form_for(@contact_us, url: contact_index_path, html: { class: 'col-md-offset-055' } ) do |f|
        = f.error_notification
        .form-group.col-md-8.col-md-offset-04
          = f.input :name, input_html: { class: 'form-control noBorder noBorderRadius loginFormStyle'}, label: false, placeholder: t('activemodel.attributes.contact_us.name')
        .form-group.col-md-8.col-md-offset-04
          = f.input :email, input_html: { class: 'form-control noBorder noBorderRadius loginFormStyle'}, label: false, placeholder: t('activemodel.attributes.contact_us.email')
        .form-group.col-md-8.col-md-offset-04
          = f.input :phone, input_html: { class: 'form-control noBorder noBorderRadius loginFormStyle'}, label: false, placeholder: t('activemodel.attributes.contact_us.phone')
        .form-group.col-md-11.col-md-pull-0
          = f.input :message, as: :text, input_html: { class: 'form-control noBorder noBorderRadius loginFormStyle'}, label: false, placeholder: t('activemodel.attributes.contact_us.message'), :rows => "3"
        = f.submit 'ENVIAR', class: 'col-md-2 col-md-offset-055 formContactButton shadowBox'
    .col-md-4.top15
      = editable_content "register" do
        %h3.text-right.light Crie seu site
        %h3.text-right.top10 GRATUITAMENTE
        %h3.text-right.top10 de forma rápida e fácil.
      = button_to "COMECE AGORA", templates_path, method: :get, class: "col-md-12 col-sm-12 col-xs-12 conversionButton shadowBox twenty lineHeight40"
    .col-md-4.top15
      %h3.text-right.light Facebook Social Box

.row.top60
