.fullwidthbanner-container{:style => "margin-top: -8px"}
  .fullwidthbanner
    %ul
      / THE FIRST SLIDE
      %li{"data-transition" => "2dcurtain-vertical"}
        = image_tag "sites/#{@site.template.path}/sliders/index_1.jpg"
      / THE SECOND SLIDE
      %li{"data-transition" => "2dcurtain-vertical"}
        = image_tag "sites/#{@site.template.path}/sliders/index_1.jpg"
    .tp-bannertimer.tp-bottom
/ === End Slider ===
/ === Content Part ===
.container
  = editable_content "content_1" do
    / Title Box
    .title-box
      .title-box-text
        Eu
        %span.color-green faço
        Design
      %p Creative freedom matters user experience, we minimize the gap between technology and its audience.
    / End Promo Box
    / Promo Box
  .row
    = editable_content "content_2" do
      .col-md-4
        .promo-box
          %i.icon-bullhorn.color-blue
          %strong Experiência e Criatividade
          %p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium qui officia deserunt mollitia anim
      .col-md-4
        .promo-box
          %i.icon-bolt.color-orange
          %strong Métodos avançados
          %p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium qui officia deserunt mollitia anim
      .col-md-4
        .promo-box
          %i.icon-rocket.color-sea
          %strong Nós amamos o que fazemos
          %p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium qui officia deserunt mollitia anim
  / End Promo Box
  / Tag Box
  = editable_content "content_3" do
    .row.tag-box.tag-box-v5
      .col-md-8
        %span Baixe meu currículo vitae
      .col-md-4
        %p
          %a.btn-u.btn-u-lg.btn-u-green{href: "#"}
            %i.icon-cloud-download
            Download