= render "sites/#{@site.template.path}/breadcrumbs"
.container
  / Portfolio Sorting Blocks
  .sorting-block
    = editable_content "content" do
      %ul.row.sorting-grid
        %li.col-md-3.col-sm-6.col-xs-12.mix.category_1.category_3{"data-cat" => "1"}
          %a{:href => "#"}
            = image_tag "sites/#{@site.template.path}/main/11.jpg", class: "img-responsive", :alt => ""
            %span.sorting-cover
              %span Happy New Year
          %p Anim pariatur cliche reprehenderit
        %li.col-md-3.col-sm-6.col-xs-12.mix.category_3.category_1{"data-cat" => "3"}
          %a{:href => "#"}
            = image_tag "sites/#{@site.template.path}/main/12.jpg", class: "img-responsive", :alt => ""
            %span.sorting-cover
              %span Happy New Year
          %p Anim pariatur cliche reprehenderit
        %li.col-md-3.col-sm-6.col-xs-12.mix.category_2.category_1{"data-cat" => "2"}
          %a{:href => "#"}
            = image_tag "sites/#{@site.template.path}/main/13.jpg", class: "img-responsive", :alt => ""
            %span.sorting-cover
              %span Happy New Year
          %p Anim pariatur cliche reprehenderit
        %li.col-md-3.col-sm-6.col-xs-12.mix.category_3.category_4{"data-cat" => "3"}
          %a{:href => "#"}
            = image_tag "sites/#{@site.template.path}/main/3.jpg", class: "img-responsive", :alt => ""
            %span.sorting-cover
              %span Happy New Year
          %p Anim pariatur cliche reprehenderit
        %li.col-md-3.col-sm-6.col-xs-12.mix.category_2.category_1.category_4{"data-cat" => "2"}
          %a{:href => "#"}
            = image_tag "sites/#{@site.template.path}/main/2.jpg", class: "img-responsive", :alt => ""
            %span.sorting-cover
              %span Happy New Year
          %p Anim pariatur cliche reprehenderit
        %li.col-md-3.col-sm-6.col-xs-12.mix.category_4{"data-cat" => "1"}
          %a{:href => "#"}
            = image_tag "sites/#{@site.template.path}/main/6.jpg", class: "img-responsive", :alt => ""
            %span.sorting-cover
              %span Happy New Year
          %p Anim pariatur cliche reprehenderit
        %li.col-md-3.col-sm-6.col-xs-12.mix.category_2.category_3.category_4{"data-cat" => "2"}
          %a{:href => "#"}
            = image_tag "sites/#{@site.template.path}/main/8.jpg", class: "img-responsive", :alt => ""
            %span.sorting-cover
              %span Happy New Year
          %p Anim pariatur cliche reprehenderit
        %li.col-md-3.col-sm-6.col-xs-12.mix.category_1.category_2.category_3{"data-cat" => "1"}
          %a{:href => "#"}
            = image_tag "sites/#{@site.template.path}/main/1.jpg", class: "img-responsive", :alt => ""
            %span.sorting-cover
              %span Happy New Year
          %p Anim pariatur cliche reprehenderit
        %li.col-md-3.col-sm-6.col-xs-12.mix.category_4.category_2{"data-cat" => "1"}
          %a{:href => "#"}
            = image_tag "sites/#{@site.template.path}/main/11.jpg", class: "img-responsive", :alt => ""
            %span.sorting-cover
              %span Happy New Year
          %p Anim pariatur cliche reprehenderit
        %li.col-md-3.col-sm-6.col-xs-12.mix.category_3.category_2{"data-cat" => "3"}
          %a{:href => "#"}
            = image_tag "sites/#{@site.template.path}/main/12.jpg", class: "img-responsive", :alt => ""
            %span.sorting-cover
              %span Happy New Year
          %p Anim pariatur cliche reprehenderit
      .clearfix
