.fullwidthbanner-container{:style => "margin-top: -8px"}
  .fullwidthbanner
    = editable_content "banner" do
      = image_tag "sites/#{@site.template.path}/sliders/index_1.jpg", style: 'width: 100%'
.purchase
  .container
    .row
      = editable_content "content_1" do
        .col-md-9
          %span Suas unhas lindas como você sempre sonhou!
          %p
            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
            deleniti atque corrupti quos dolores et quas molestias excepturi vehicula sem ut volutpat. Ut non
            libero magna fusce condimentum eleifend enim a feugiat.
        .col-md-3
          %a.btn-buy.hover-effect{:href => "?=contatos"} Agendar

.container
  .row.margin-bottom-10
    = editable_content "content_2" do
      .col-md-4
        .service
          .col-md-3{:style => "margin-top: 10px"}
            = image_tag "sites/#{@site.template.path}/index/pes.jpg", class: "img-responsive"
          .desc.col-md-9
            %h4 Massagem nos pés
            %p
              Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
              mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...
      .col-md-4
        .service
          .col-md-3{:style => "margin-top: 10px"}
            = image_tag "sites/#{@site.template.path}/index/esmalte.jpg", class: "img-responsive"
          .desc.col-md-9
            %h4 Pacotes Especiais
            %p
              Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
              mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...
      .col-md-4
        .service
          .col-md-3{:style => "margin-top: 10px"}
            = image_tag "sites/#{@site.template.path}/index/mao.jpg", class: "img-responsive"
          .desc.col-md-9
            %h4 Manicure e Pedicure
            %p
              Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
              mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...
.footer
  .container
    .row
      = editable_content "footer" do
        .col-md-4.md-margin-bottom-40
          / About
          .headline
            %h2 Sobre nós
          %p.margin-bottom-25.md-margin-bottom-40
            Unify is an incredibly beautiful responsive Bootstrap
            Template for corporate and creative professionals.
            %br/
            %br/
            Responsive Bootstrap Template for corporate and creative professionals.
        / /col-md-4
        .col-md-4.md-margin-bottom-40
          / Stay Connected
          .headline
            %h2 Redes sociais
          %ul.social-icons
            %li
              %a.social_rss{"data-original-title" => "Feed", :href => "#", :target => "_blank"} &nbsp;
            %li
              %a.social_facebook{"data-original-title" => "Facebook", :href => "#", :target => "_blank"} &nbsp;
            %li
              %a.social_twitter{"data-original-title" => "Twitter", :href => "#", :target => "_blank"} &nbsp;
            %li
              %a.social_googleplus{"data-original-title" => "Goole Plus", :href => "#", :target => "_blank"} &nbsp;
            %li
              %a.social_pintrest{"data-original-title" => "Pinterest", :href => "#", :target => "_blank"} &nbsp;
            %li
              %a.social_linkedin{"data-original-title" => "Linkedin", :href => "#", :target => "_blank"} &nbsp;
            %li
              %a.social_vimeo{"data-original-title" => "Vimeo", :href => "#", :target => "_blank"} &nbsp;
        / /col-md-4
        .col-md-4
          / Monthly Newsletter
          .headline
            %h2 Entre em contato
          %address.md-margin-bottom-40
            25, Lorem Lis Street, Orange
            %br/
            California, US
            %br/
            Phone: 800 123 3456
            %br/
            Fax: 800 123 3456
            %br/
            Email:
            %a{:href => "mailto:"} info@anybiz.com
