= render "sites/#{@site.template.path}/breadcrumbs"
.container
  = editable_content "content" do
    .margin-bottom-50
      = image_tag "sites/#{@site.template.path}/sobrenos/imgbanner.jpg", class: 'img-responsive', :alt => "Sobre nós"
    .tag-box.tag-box-v2
      %h2 Sobre nossa empresa
      %p Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat.
  .margin-bottom-20.clearfix
  .row
    / Accordion
    .col-md-7.md-margin-bottom-40
      = editable_content "accordion" do
        #accordion-1.panel-group.acc-v1
          .panel.panel-default
            .panel-heading
              %h4.panel-title
                %a.accordion-toggle{"data-parent" => "#accordion-1", "data-toggle" => "collapse", :href => "#collapse-One"}
                  A empresa
            #collapse-One.panel-collapse.collapse.in
              .panel-body
                .row
                  .col-md-4
                    = image_tag "sites/#{@site.template.path}/sobrenos/img5.jpg", class: 'img-responsive', :alt => ""
                  .col-md-8
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
          .panel.panel-default
            .panel-heading
              %h4.panel-title
                %a.accordion-toggle{"data-parent" => "#accordion-1", "data-toggle" => "collapse", :href => "#collapse-Two"}
                  A equipe
            #collapse-Two.panel-collapse.collapse
              .panel-body
                .row
                  .col-md-8
                    %p Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                    %ul.list-unstyled
                      %li
                        %i.icon-ok.color-green
                        Donec id elit non mi porta gravida at eget metus..
                      %li
                        %i.icon-ok.color-green
                        Fusce dapibus, tellus ac cursus comodo egetine..
                      %li
                        %i.icon-ok.color-green
                        Food truck quinoa nesciunt laborum eiusmod runch..
                  .col-md-4
                    = image_tag "sites/#{@site.template.path}/sobrenos/img1.jpg", class: 'img-responsive', :alt => ""
          .panel.panel-default
            .panel-heading
              %h4.panel-title
                %a.accordion-toggle{"data-parent" => "#accordion-1", "data-toggle" => "collapse", :href => "#collapse-Three"}
                  Nossos valores
            #collapse-Three.panel-collapse.collapse
              .panel-body
                Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Food truck quinoa nesciunt laborum eiusmodolf moon tempor, sunt aliqua put a bird. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.

    .col-md-5
      = editable_content "testimonials" do
        #testimonials-1.carousel.slide.testimonials.testimonials-v1
          .carousel-inner
            .item.active
              %p Crasjusto ducimus qui cupiditate non provident, similique sunt in culpaid est anditiis praesentium praesentium blanditiis praesentium non provident, similique sunt in culpaid est anditiis praesentium praesentium..
              .testimonial-info
                = image_tag "sites/#{@site.template.path}/sobrenos/img7.jpg", :alt => ""
                %span.testimonial-author
                  Jeremy Asigner
                  %em Web Developer, Unify Theme.
            .item
              %p Crasjusto ducimus qui cupiditate non provident, similique sunt in culpaid est anditiis praesentium praesentium blanditiis praesentium non provident, similique sunt in culpaid est anditiis praesentium praesentium..
              .testimonial-info
                = image_tag "sites/#{@site.template.path}/sobrenos/user.jpg", :alt => ""
                %span.testimonial-author
                  User
                  %em Java Developer, Htmlstream
            .item
              %p Crasjusto ducimus qui cupiditate non provident, similique sunt in culpaid est anditiis praesentium praesentium blanditiis praesentium non provident, similique sunt in culpaid est anditiis praesentium praesentium..
              .testimonial-info
                = image_tag "sites/#{@site.template.path}/sobrenos/img2.jpg", :alt => ""
                %span.testimonial-author
                  Kate Davenport
                  %em Web Designer, Google Inc.
          .carousel-arrow
            %a.left.carousel-control{"data-slide" => "prev", :href => "#testimonials-1"}
              %i.icon-angle-left
            %a.right.carousel-control{"data-slide" => "next", :href => "#testimonials-1"}
              %i.icon-angle-right

  .margin-bottom-50
